.fish01{

	border: 1px solid #ccc;
	border-top: 8px solid  rgb(20, 157, 204);
	border-radius: 10px;
	padding-top: 15px;
}
.fish02{
	border: 1px solid #ccc;
	background-color:   rgb(20, 157, 204);
	border-radius: 10px;
	padding-top: 15px;
}
.fish02 p{
	width: 100%;
	background: white;
	color: black;
	font-size: 1rem;
	margin-bottom: -17px;
	padding: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom: 1px solid #ccc;

}
.fish{
	border: 1px solid #ccc;
	border-radius: 10px;
	padding-top: 15px;
	margin: 0 0px;
}
/*  Input type=>checkbox */
/* Customize the label (the chek-label) */
.chek-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.chek-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-chek {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.chek-label:hover input ~ .checkmark-chek {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chek-label input:checked ~ .checkmark-chek {
  background-color: rgb(20, 157, 204);
}

/* Create the checkmark-chek/indicator (hidden when not checked) */
.checkmark-chek:after {
  content: '✓';
  position: absolute;
  display: none;
  color: white;
  left: 5px;
  top: -3px;
  font-weight: 700;
}

/* Show the checkmark-chek when checked */
.chek-label input:checked ~ .checkmark-chek:after {
  display: block;
}

/* Style the checkmark-chek/indicator */


/*  Input type=>radio */
/* Customize the label (the radio-label) */
.radio-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #ccc;
}

/* On mouse-over, add a grey background color */
.radio-label:hover input ~ .checkmark-radio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-label input:checked ~ .checkmark-radio {
  background-color: white;
  border: 3px solid rgb(20, 157, 204);

}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-label input:checked ~ .checkmark-radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-label .checkmark-radio:after {
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(20, 157, 204);
}

/*page2 uchun*/
.text-vil{
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}
.text-vil:focus{
  border-bottom: 2px solid rgb(20, 157, 204);
}
.opt-dis{
  background: rgb(20, 157, 204, 0.52);
}