{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Site made with Mobirise Website Builder v4.12.0, #m -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.12.0, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/logo2-1.png" type="image/x-icon">
    <meta name="description" content="">
    
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'web/assets/mobirise-icons/mobirise-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/assets/mobirise-icons-bold/mobirise-icons-bold.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dropdown/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'animatecss/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tether/tether.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'socicon/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme/css/style.css' %}">
    <link rel="preload" as="style" href="{% static 'mobirise/css/mbr-additional.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mobirise/css/mbr-additional.css' %}">
    

	
	<meta charset="utf-8">
</head>
<body>
	<section class="menu cid-s11rRnqXnO" once="menu" id="menu2-1">
      
      <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        </button>
        <div class="menu-logo">
          <div class="navbar-brand">
            <span class="navbar-logo">
              <a href="http://savol.samdu.uz">
                <img src="{% static 'images/logo2-1.png' %}" alt="SamDU" title="Anonim So'rovlar"">
              </a>
            </span>
            <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="{% url 'home' %}">
            Samarqand Davlat Universiteti</a></span>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
            <li class="nav-item"><a class="nav-link link text-black display-4" href="{% url 'TalabaAdd' %}"aria-expanded="true">Anonim so'rov 1</a></li>
            <li class="nav-item"><a class="nav-link link text-black display-4" href="{% url 'DehqonAdd' %}" aria-expanded="true">Anonim so'rov 2</a></li>
          <li class="nav-item"><a class="nav-link link text-black display-4" href="#" aria-expanded="true"><span class="socicon socicon-play mbr-iconfont mbr-iconfont-btn"></span>Mobile ilova</a></li><li class="nav-item dropdown open">
          <a class="nav-link link text-black dropdown-toggle display-4" href="#" aria-expanded="true" data-toggle="dropdown-submenu">Til | lotin</a>
          <div class="dropdown-menu">
            <a class="text-black dropdown-item display-4" href="#" aria-expanded="true"><span class="mbri-up-down mbr-iconfont mbr-iconfont-btn"></span>UZB | lotin</a>
            <a class="text-black dropdown-item display-4" href="#" aria-expanded="false"><span class="mbri-up-down mbr-iconfont mbr-iconfont-btn"></span>UZB | krill</a>
        </div>
          </li>
          </ul>
        <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary-outline display-4" href="tg://resolve?domain=+998979276923"><span class="socicon socicon-telegram mbr-iconfont mbr-iconfont-btn"></span>BOT orqali</a></div>
      </div>
    </nav>
  </section>
  <section class="engine"><a href="https://mobirise.info/l">free web templates</a></section>

	{% block content %}

    {% endblock %}

    <section class="cid-s13mpqzsHD mbr-reveal" id="footer1-a">
  
  
  <div class="container">
    <div class="media-container-row content text-white">
      <div class="col-12 col-md-3">
        <div class="media-wrap">

          <a href="{% url 'home' %}">
            <img src="{% static 'images/logo2.png' %}" alt="SamDU" title="">
          </a>
        </div>
      </div>
      <div class="col-12 col-md-3 mbr-fonts-style display-7">
        <h5 class="pb-3" style="text-align: center;">
        Manzil</h5>
        <p class="mbr-text" style="text-align: center;">140104, O'zbekiston,&nbsp;<br>Samarqand shahri, <br>Universitet xiyoboni,<br>15 uy</p>
      </div>
      <div class="col-12 col-md-3 mbr-fonts-style display-7">
        <h5 class="pb-3" style="text-align: center;">
        Aloqa</h5>
        <p class="mbr-text" style="text-align: center;">
        E-mail: devonxona@samdu.uz<br>Telefon: +998 66 2391140 &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>Faks: +998 66 2391140</p>
      </div>
      <div class="col-12 col-md-3 mbr-fonts-style display-7">
        <h5 class="pb-3" style="text-align: center;">
        Links
        </h5>
        <p class="mbr-text" style="text-align: center;"><a class="text-primary" href="https://samdu.uz/">SamDu.uz</a>&nbsp;<br><a class="text-primary" href="#">Samdu.baxolar.uz</a>&nbsp;<br></p>
      </div>
    </div>
    <div class="footer-lower">
      <div class="media-container-row">
        <div class="col-sm-12">
          <hr>
        </div>
      </div>
      <div class="media-container-row mbr-white">
        <div class="col-sm-6 copyright">
          <p class="mbr-text mbr-fonts-style display-7">
          © Samarqand davlat universiteti, 2020-2021</p>
        </div>
        <div class="col-md-6">
          <div class="social-list align-right">
            <div class="soc-item">
              <a href="https://www.facebook.com/samduuzb/" target="_blank">
                <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://t.me/samduuz" target="_blank">
                <span class="mbr-iconfont mbr-iconfont-social socicon-telegram socicon"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="#">
                <span class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="#">
                <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="#">
                <span class="mbr-iconfont mbr-iconfont-social socicon-rss socicon"></span>
              </a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
	
	<script src="{% static 'popper/popper.min.js' %}"></script>
	<script src="{% static 'web/assets/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'smoothscroll/smooth-scroll.js' %}"></script>
	<script src="{% static 'dropdown/js/nav-dropdown.js' %}"></script>
	<script src="{% static 'dropdown/js/navbar-dropdown.js' %}"></script>
	<script src="{% static 'viewportchecker/jquery.viewportchecker.js' %}"></script>
	<script src="{% static 'parallax/jarallax.min.js' %}"></script>
	<script src="{% static 'tether/tether.min.js' %}"></script>
	<script src="{% static 'touchswipe/jquery.touch-swipe.min.js' %}"></script>
	<script src="{% static 'theme/js/script.js' %}"></script>
</body>
</html>