{% extends "base.html" %}
{% load static %}

{% block title %}Dehqon surovnoma{% endblock %}

{% block content %}
<section class="engine"><a href="https://mobirise.info/k">how to develop own website</a></section>
<section class="mbr-section form1 cid-s19hQrUN1R" id="form1-p">


  <div class="container">
    <div class="row justify-content-center">
      <div class="title col-12 col-lg-8">
        <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5 fish02"
          style="color: green;">
          2-qism. ХАВАСКОР ДЕХКОНЧИЛИК сўровномаси
          <p style="text-align: left;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ушбу сўровни асосий мақсади деқҳон хўжаликларни ишлаб чиқариш
            фаолияти самарадорлигини, ишлаб чиқарилган
            маҳсулотлар қўшилган қиймат занжирини аниқлаш ҳисобланади. Ушбу сўровномадан олинган маълумотлар фақат
            умумийлаштирилган
            ҳолда сиялар ишлаб чикариш жараёнида ишлатилади. Иштирокингиз ва кўмагингиз учун рахмат
          </p>
        </h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="media-container-column col-lg-12" data-form-type="formoid">

        <form action="{% url 'DehqonAdd' %}" method="POST" class="mbr-form form-with-styler">


          {% csrf_token %}
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Вилоят</label>
              {{form.viloyat}}
            </div>
            <div class="form-group col-6">
              <label>Туман</label>
              {{form.tuman}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Ҳудуд</label>
              {{form.hudud}}
            </div>
            <div class="form-group col-6">
              <label>Махалла ( қишлоқ номи) </label>
              {{form.mahalla}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Рахбарининг исми, шарифи</label>
              {{form.raxbar_ism_sharf}}
            </div>
            <div class="form-group col-6">
              <label>Хўжалигининг номи</label>
              {{form.xujalig_nomi}}
            </div>
          </div>
          <div class="form-group">
            <label>Ҳудудда жойлашган манзил</label>
            {{form.hududda_joylashgan_manzil}}
          </div>
          <hr>
          <label><strong>УМУМИЙ МАЪЛУМОТЛАР</strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Ёшингиз нечада (хўжалиги раҳбари)</label>
              {{form.raxbar_yoshi}}
            </div>
            <div class="form-group col-6">
              <label>Маълумотингиз</label>
              {{form.malumotingiz}}
            </div>
          </div>
          <div class="checkbox">
            {{form.yuridek_maqomga_egami}}
            <label> Xўжалиги юридик шахс мақомига эгами</label>
          </div>
          <hr>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>хўжалигингиз нечанчи йил ташкил топган</label>
              {{form.xujalik_tashkil_topgan_yil}}
            </div>
            <div class="form-group col-6">
              <label>хўжалигидаги оила аьзолари сони</label>
              {{form.xujalik_oila_azolar_soni}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>хўжалигингиз асосан қишлоқ хўжалигиниг қайси турдаги маҳсулотини ишлаб чиқаришга
                ихтисослашган</label>
              {{form.xujalik_turi}}
            </div>
            <div class="form-group col-6">
              <label>хўжалигингизни қўшимча фаолияти? (тўғри келганини белгиланг)</label><br><br>
              {{form.qushimcha_faoliyati_turi}}
            </div>
          </div>
          <hr>
          <label><strong>ХЎЖАЛИГ ЕРЛАРИ ВА ХОЛАТИ</strong></label><br>
          <label><strong>Деҳқонхўжалигингизни умумий ер майдони (га)</strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Умумий майдони</label>
              {{form.umumiy_maydon}}
            </div>
            <div class="form-group col-6">
              <label>Экин майдони</label>
              {{form.ekin_maydon}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Суғориладиган майдон</label>
              {{form.sugoriladigan_maydon}}
            </div>
            <div class="form-group col-6">
              <label>Лалми ерлар </label>
              {{form.lalmi_maydon}}
            </div>
          </div>
          <div class="form-group">
            <label>Бошқа сабаблар туфайли фойдаланилмаётган ер майдони (кўрсатинг) </label>
            {{form.boshqa_maydon}}
          </div>
          <div class="checkbox">
            {{form.yer_maydon_uzgarganmi}}
            <label> Деҳқон хўжалигингиз ташкил топгандан буён ер майдонингиз ўзгарганми (кенгайтирилган ёки
              қисқартирилган)</label>
          </div>
          <label><strong>Агар ўзгарган бўлса, қачон ва қанча майдонга</strong></label>
          <hr>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Деҳқон ер майдони ўзгарган йил</label>
              {{form.uzgargan_yil}}
            </div>
            <div class="form-group col-6">
              <label>Ўзгаришдан олдин бўлган ер ҳудуди, га</label>
              {{form.qanchaga_uzgargan}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>хўжалиги ҳудуди суғориш тармоқларининг қайси қисмида жойлашган</label>
              {{form.sugorish_tarmoq}}
            </div>
            <div class="form-group col-6">
              <label>Экинларини суғориш учун қайси сув манбасидан фойдаланасиз<br><br></label>
              {{form.sugorish_manbasi}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Суғориш сувлари билан ерларингиз қай даражада таъминланган (%)<br><br></label>
              {{form.sugorish_bilan_taminlangan_qismi_foizda}}
            </div>
            <div class="form-group col-6">
              <label>Сизнинг деҳқон хўжалигингиз ҳудуди туман марказидан қанча узоқликда жойлашган (км)</label>
              {{form.yer_maydon_tuman_markazidan_qancha_uzoq}}
            </div>
          </div>
          <hr>
          <label><strong>ХЎЖАЛИГ ТОМОНИДАН МОДДИЙ-ТЕХНИК РЕСУРСЛАРНИ ХАРИД ҚИЛИШ ВА ОЛИШ</strong></label><br>
          <label><strong>Маҳсулот етиштириш учун моддий-техника ресурсларини қайси манбадан сотиб оласиз? (иккита асосий
              манбани кўрсатинг)</strong></label>
          <div class="form-group row ">
            <div class="form-group col-6">
              <label>Уруғ Қаердан сотиб олинган (асосий манба) </label>
              {{form.urug_sotib_olish_asosiy_manba}}
            </div>
            <div class="form-group col-6">
              <label>Уруғ Қаердан сотиб олинган (иккиламчи манба) </label>
              {{form.urug_sotib_olish_ikkilamchi_manba}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Ўғитлар Қаердан сотиб олинган (асосий манба)</label>
              {{form.ugit_sotib_olish_asosiy_manba}}
            </div>
            <div class="form-group col-6">
              <label>Ўғитлар Қаердан сотиб олинган (иккиламчи манба)</label>
              {{form.ugit_sotib_olish_ikkilamchi_manba}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Пестицид ва гербицидлар Қаердан сотиб олинган (асосий манба)</label>
              {{form.pestisidvagerbisid_sotib_olish_asosiy_manba}}
            </div>
            <div class="form-group col-6">
              <label>Пестицид ва гербицидлар Қаердан сотиб олинган (иккиламчи манба)</label>
              {{form.pestisidvagerbisid_sotib_olish_ikkilamchi_manba}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Ёқилғи Қаердан сотиб олинган (асосий манба)</label>
              {{form.yoqilgi_sotib_olish_asosiy_manba}}
            </div>
            <div class="form-group col-6">
              <label>Ёқилғи Қаердан сотиб олинган (иккиламчи манба)</label>
              {{form.yoqilgi_sotib_olish_ikkilamchi_manba}}
            </div>
          </div>
          <label><strong>Маҳсулот етиштириш учун моддий-техника ресурсларини харид қилиш бўйича муаммоларни
              кўрсатинг</strong></label>
          <hr>
          <div class="row">
            <div class="col-6">
              <label><strong>Уруғлик</strong></label>
              <div class="checkbox">
                {{form.ur_naqd_pul_yetishmasligi}}
                <label> Нақд пул етишмаслиги / нақд пул олиш муаммолари</label>
              </div>
              <div class="checkbox">
                {{form.ur_qiymat_balandligi}}
                <label> Қиймати баланд</label>
              </div>
              <div class="checkbox">
                {{form.ur_bozorda_tanqis}}
                <label> Бозорларда танқис</label>
              </div>
              <div class="checkbox">
                {{form.ur_sifatsiz}}
                <label> Сифатсиз</label>
              </div>
              <div class="checkbox">
                {{form.ur_transport_muammosi}}
                <label> Транспорт муаммолари</label>
              </div>
              <div class="checkbox">
                {{form.ur_muammo_yuq}}
                <label> Муаммолар йўқ </label>
              </div>
              <div class="checkbox">
                {{form.ur_boshqa}}
                <label> Бошқа (аниқланг)</label>
              </div>
            </div>
            <div class="col-6">
              <label><strong>Буғдой</strong></label>
              <div class="checkbox">
                {{form.b_naqd_pul_yetishmasligi}}
                <label> Нақд пул етишмаслиги / нақд пул олиш муаммолари</label>
              </div>
              <div class="checkbox">
                {{form.b_qiymat_balandligi}}
                <label>Қиймати баланд </label>
              </div>
              <div class="checkbox">
                {{form.b_bozorda_tanqis}}
                <label> Бозорларда танқис</label>
              </div>
              <div class="checkbox">
                {{form.b_sifatsiz}}
                <label> Сифатсиз</label>
              </div>
              <div class="checkbox">
                {{form.b_transport_muammosi}}
                <label> Транспорт муаммолари</label>
              </div>
              <div class="checkbox">
                {{form.b_muammo_yuq}}
                <label> Муаммолар йўқ </label>
              </div>
              <div class="checkbox">
                {{form.b_boshqa}}
                <label> Бошқа (аниқланг)</label>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-6">
              <label><strong>Ўғитлар</strong></label>
              <div class="checkbox">
                {{form.ug_naqd_pul_yetishmasligi}}
                <label> Нақд пул етишмаслиги / нақд пул олиш муаммолари</label>
              </div>
              <div class="checkbox">
                {{form.ug_qiymat_balandligi}}
                <label> Қиймати баланд</label>
              </div>
              <div class="checkbox">
                {{form.ug_bozorda_tanqis}}
                <label> Бозорларда танқис</label>
              </div>
              <div class="checkbox">
                {{form.ug_sifatsiz}}
                <label> Сифатсиз</label>
              </div>
              <div class="checkbox">
                {{form.ug_transport_muammosi}}
                <label> Транспорт муаммолари</label>
              </div>
              <div class="checkbox">
                {{form.ug_muammo_yuq}}
                <label> Муаммолар йўқ </label>
              </div>
              <div class="checkbox">
                {{form.ug_boshqa}}
                <label> Бошқа (аниқланг)</label>
              </div>
            </div>
            <div class="col-6">
              <label><strong>Пестицид ва гербицидлар</strong></label>
              <div class="checkbox">
                {{form.pg_naqd_pul_yetishmasligi}}
                <label> Нақд пул етишмаслиги / нақд пул олиш муаммолари</label>
              </div>
              <div class="checkbox">
                {{form.pg_qiymat_balandligi}}
                <label> Қиймати баланд</label>
              </div>
              <div class="checkbox">
                {{form.pg_bozorda_tanqis}}
                <label> Бозорларда танқис</label>
              </div>
              <div class="checkbox">
                {{form.pg_sifatsiz}}
                <label> Сифатсиз</label>
              </div>
              <div class="checkbox">
                {{form.pg_transport_muammosi}}
                <label> Транспорт муаммолари</label>
              </div>
              <div class="checkbox">
                {{form.pg_muammo_yuq}}
                <label> Муаммолар йўқ </label>
              </div>
              <div class="checkbox">
                {{form.pg_boshqa}}
                <label> Бошқа (аниқланг)</label>
              </div>
            </div>
          </div>
          <hr>
          <label><strong>Ёқилғи</strong></label>
          <div class="checkbox">
            {{form.y_naqd_pul_yetishmasligi}}
            <label> Нақд пул етишмаслиги / нақд пул олиш муаммолари</label>
          </div>
          <div class="checkbox">
            {{form.y_qiymat_balandligi}}
            <label> Қиймати баланд</label>
          </div>
          <div class="checkbox">
            {{form.y_bozorda_tanqis}}
            <label> Бозорларда танқис</label>
          </div>
          <div class="checkbox">
            {{form.y_sifatsiz}}
            <label> Сифатсиз</label>
          </div>
          <div class="checkbox">
            {{form.y_transport_muammosi}}
            <label> Транспорт муаммолари</label>
          </div>
          <div class="checkbox">
            {{form.y_muammo_yuq}}
            <label> Муаммолар йўқ </label>
          </div>
          <div class="checkbox">
            {{form.y_boshqa}}
            <label> Бошқа (аниқланг)</label>
          </div>
          <hr>
          <label><strong>хўжалигингиздаги экин майдонларига ишлов бериш ва агротехник тадбирларни амалга оширишда кайси
              хизмат кўрсатиш корхоналари техникасидан фойдаланасиз </strong></label>
          <div class="form-group">
            <label>Тури</label>
            {{form.texnika_turi}}
          </div>
          <label><strong>Ер ҳайдаш ва ишлов бериш</strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Сон</label>
              {{form.son1}}
            </div>
            <div class="form-group col-6">
              <label>Баҳоси. сўм</label>
              {{form.bahosi1}}
            </div>
          </div>
          <label><strong>маҳсулотни ташиш</strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Сон</label>
              {{form.son2}}
            </div>
            <div class="form-group col-6">
              <label>Умумий Нархи (млн. сўм) </label>
              {{form.bahosi2}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-6">
              <label><strong>Ҳайдов трактори</strong></label>
              <div class="checkbox">
                {{form.xaydov_traktor_1}}
                <label>Техника хизматини ёллаб олиш хақини баландлиги</label>
              </div>
              <div class="checkbox">
                {{form.xaydov_traktor_2}}
                <label>Техника хизматини ёллаб олиш учун маблағлар етишмаслиги ва кредит олиш қийинлиги</label>
              </div>
              <div class="checkbox">
                {{form.xaydov_traktor_3}}
                <label>Техника бор, лекин унга ёқилғи топиш муаммо</label>
              </div>
              <div class="checkbox">
                {{form.xaydov_traktor_4}}
                <label> Яқин орада /техника хизматини курсатадиган ташкилот мавжуд эмас</label>
              </div>
              <div class="checkbox">
                {{form.xaydov_traktor_5}}
                <label>Бошқа муаммо (аниқланг) </label>
              </div>
              <div class="checkbox">
                {{form.xaydov_traktor_6}}
                <label> Муаммолар йўқ </label>
              </div>
            </div>
            <div class="col-6">
              <label><strong>Плуглар</strong></label>
              <div class="checkbox">
                {{form.pluglar_1}}
                <label> Техника хизматини ёллаб олиш хақини баландлиги</label>
              </div>
              <div class="checkbox">
                {{form.pluglar_2}}
                <label>Техника хизматини ёллаб олиш учун маблағлар етишмаслиги ва кредит олиш қийинлиги</label>
              </div>
              <div class="checkbox">
                {{form.pluglar_3}}
                <label>Техника бор, лекин унга ёқилғи топиш муаммо</label>
              </div>
              <div class="checkbox">
                {{form.pluglar_4}}
                <label> Яқин орада /техника хизматини курсатадиган ташкилот мавжуд эмас</label>
              </div>
              <div class="checkbox">
                {{form.pluglar_5}}
                <label>Бошқа муаммо (аниқланг) </label>
              </div>
              <div class="checkbox">
                {{form.pluglar_6}}
                <label>Муаммолар йўқ </label>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-6">
              <label><strong>Сеялка</strong></label>
              <div class="checkbox">
                {{form.seyalka_1}}
                <label>Техника хизматини ёллаб олиш хақини баландлиги</label>
              </div>
              <div class="checkbox">
                {{form.seyalka_2}}
                <label>Техника хизматини ёллаб олиш учун маблағлар етишмаслиги ва кредит олиш қийинлиги</label>
              </div>
              <div class="checkbox">
                {{form.seyalka_3}}
                <label>Техника бор, лекин унга ёқилғи топиш муаммо</label>
              </div>
              <div class="checkbox">
                {{form.seyalka_4}}
                <label> Яқин орада /техника хизматини курсатадиган ташкилот мавжуд эмас</label>
              </div>
              <div class="checkbox">
                {{form.seyalka_5}}
                <label>Бошқа муаммо (аниқланг) </label>
              </div>
              <div class="checkbox">
                {{form.seyalka_6}}
                <label> Муаммолар йўқ </label>
              </div>
            </div>
            <div class="col-6">
              <label><strong>Культиватор</strong></label>
              <div class="checkbox">
                {{form.kultivator_1}}
                <label> Техника хизматини ёллаб олиш хақини баландлиги</label>
              </div>
              <div class="checkbox">
                {{form.kultivator_2}}
                <label>Техника хизматини ёллаб олиш учун маблағлар етишмаслиги ва кредит олиш қийинлиги</label>
              </div>
              <div class="checkbox">
                {{form.kultivator_3}}
                <label>Техника бор, лекин унга ёқилғи топиш муаммо</label>
              </div>
              <div class="checkbox">
                {{form.kultivator_4}}
                <label> Яқин орада /техника хизматини курсатадиган ташкилот мавжуд эмас</label>
              </div>
              <div class="checkbox">
                {{form.kultivator_5}}
                <label>Бошқа муаммо (аниқланг) </label>
              </div>
              <div class="checkbox">
                {{form.kultivator_6}}
                <label>Муаммолар йўқ </label>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-6">
              <label><strong>Ғалла комбайни</strong></label>
              <div class="checkbox">
                {{form.galla_kanbayn_1}}
                <label>Техника хизматини ёллаб олиш хақини баландлиги</label>
              </div>
              <div class="checkbox">
                {{form.galla_kanbayn_2}}
                <label>Техника хизматини ёллаб олиш учун маблағлар етишмаслиги ва кредит олиш қийинлиги</label>
              </div>
              <div class="checkbox">
                {{form.galla_kanbayn_3}}
                <label>Техника бор, лекин унга ёқилғи топиш муаммо</label>
              </div>
              <div class="checkbox">
                {{form.galla_kanbayn_4}}
                <label> Яқин орада /техника хизматини курсатадиган ташкилот мавжуд эмас</label>
              </div>
              <div class="checkbox">
                {{form.galla_kanbayn_5}}
                <label>Бошқа муаммо (аниқланг) </label>
              </div>
              <div class="checkbox">
                {{form.galla_kanbayn_6}}
                <label> Муаммолар йўқ </label>
              </div>
            </div>
            <div class="col-6">
              <label><strong>Хосилни етказиш учун юк машинаси</strong></label>
              <div class="checkbox">
                {{form.yuk_mashina_1}}
                <label> Техника хизматини ёллаб олиш хақини баландлиги</label>
              </div>
              <div class="checkbox">
                {{form.yuk_mashina_2}}
                <label>Техника хизматини ёллаб олиш учун маблағлар етишмаслиги ва кредит олиш қийинлиги</label>
              </div>
              <div class="checkbox">
                {{form.yuk_mashina_3}}
                <label>Техника бор, лекин унга ёқилғи топиш муаммо</label>
              </div>
              <div class="checkbox">
                {{form.yuk_mashina_4}}
                <label> Яқин орада /техника хизматини курсатадиган ташкилот мавжуд эмас</label>
              </div>
              <div class="checkbox">
                {{form.yuk_mashina_5}}
                <label>Бошқа муаммо (аниқланг) </label>
              </div>
              <div class="checkbox">
                {{form.yuk_mashina_6}}
                <label>Муаммолар йўқ </label>
              </div>
            </div>
          </div>
          <hr>
          <label><strong>Бошқа (аниқланг)</strong></label>
          <div class="checkbox">
            {{form.boshqa_1}}
            <label> Техника хизматини ёллаб олиш хақини баландлиги</label>
          </div>
          <div class="checkbox">
            {{form.boshqa_2}}
            <label>Техника хизматини ёллаб олиш учун маблағлар етишмаслиги ва кредит олиш қийинлиги</label>
          </div>
          <div class="checkbox">
            {{form.boshqa_3}}
            <label>Техника бор, лекин унга ёқилғи топиш муаммо</label>
          </div>
          <div class="checkbox">
            {{form.boshqa_4}}
            <label> Яқин орада /техника хизматини курсатадиган ташкилот мавжуд эмас</label>
          </div>
          <div class="checkbox">
            {{form.boshqa_5}}
            <label>Бошқа муаммо (аниқланг) </label>
          </div>
          <div class="checkbox">
            {{form.boshqa_6}}
            <label>Муаммолар йўқ </label>
          </div>
          <hr>
          <label><strong>Қорамоллар</strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Бош сони</label>
              {{form.qoramollar_soni}}
            </div>
            <div class="form-group col-6">
              <label>Ўртача қиймати (бир бош/сўм)</label>
              {{form.qoramollar_urtacha_qiymati}}
            </div>
          </div>
          <label><strong>Ундан сигирлар</strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Бош сони</label>
              {{form.undan_sigirlar_soni}}
            </div>
            <div class="form-group col-6">
              <label>Ўртача қиймати (бир бош/сўм)</label>
              {{form.undan_sigirlar_urtacha_qiymati}}
            </div>
          </div>
          <label><strong>Қўйлар</strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Бош сони</label>
              {{form.quylar_soni}}
            </div>
            <div class="form-group col-6">
              <label>Ўртача қиймати (бир бош/сўм)</label>
              {{form.quylar_urtacha_qiymati}}
            </div>
          </div>
          <label><strong>Эчкилар</strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Бош сони</label>
              {{form.echkilar_soni}}
            </div>
            <div class="form-group col-6">
              <label>Ўртача қиймати (бир бош/сўм)</label>
              {{form.echkilar_urtacha_qiymati}}
            </div>
          </div>
          <label><strong>Отлар</strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Бош сони</label>
              {{form.otlar_soni}}
            </div>
            <div class="form-group col-6">
              <label>Ўртача қиймати (бир бош/сўм)</label>
              {{form.otlar_urtacha_qiymati}}
            </div>
          </div>
          <label><strong>Товуқлар</strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Бош сони</label>
              {{form.tovuqlar_soni}}
            </div>
            <div class="form-group col-6">
              <label>Ўртача қиймати (бир бош/сўм)</label>
              {{form.tovuqlar_urtacha_qiymati}}
            </div>
          </div>
          <hr>
          <label><strong>ХЎЖАЛИГ ИШЛАБ ЧИҚАРИШ ФАОЛИЯТИ</strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Экин тури</label>
              {{form.turi}}
            </div>
            <div class="form-group col-6">
              <label>Экин майдони (га)</label>
              {{form.ekin_maydon_ga}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Ялпи ҳосил,(тонна) </label>
              {{form.yalpi_hosil}}
            </div>
            <div class="form-group col-6">
              <label>Ҳосилдорлик ( маҳсулдорлик,(ц/га) </label>
              {{form.hosildorlik}}
            </div>
          </div>
          <div class="checkbox">
            {{form.asosiy_takroriy}}
            <label>Бу асосий экинми ёки такрорийми? Асосий =1 Такрорий = 0 </label>
          </div>
          <hr>
          <label><strong>Ўз маҳсулотларингизни сотишда асосий муаммоларни белгиланг</strong></label>
          <div class="form-group">
            <label>Маҳсулот тури</label>
            {{form.maxsulot_turi}}
          </div>
          <label><strong>Асосий муаммолар (учтагача жавоб белгиланг)</strong></label>
          <div class="checkbox">
            {{form.sotishda_asosiy_muammo_1}}
            <label>Сотиш даврида маҳсулотга қўйилган сифат даражаси талаби юқорилиги</label>
          </div>
          <div class="checkbox">
            {{form.sotishda_asosiy_muammo_2}}
            <label>Сотиш учун маҳсулотга қўйилган минимал партия миқдори</label>
          </div>
          <div class="checkbox">
            {{form.sotishda_asosiy_muammo_3}}
            <label>Маҳсулотни етказиб бериш муаммолари (транспорт)</label>
          </div>
          <div class="checkbox">
            {{form.sotishda_asosiy_muammo_4}}
            <label>Ушбу маҳсулот учун харидорлар камлиги</label>
          </div>
          <div class="checkbox">
            {{form.sotishda_asosiy_muammo_5}}
            <label>Ушбу маҳсулотни аниқ Нархини билмайман</label>
          </div>
          <div class="checkbox">
            {{form.sotishda_asosiy_muammo_6}}
            <label>Давлат, маҳаллий хокимият томонидан ушбу экин ёки маҳсулот тури Нархини назорат қилиниши</label>
          </div>
          <div class="checkbox">
            {{form.sotishda_asosiy_muammo_7}}
            <label>Муаммолар йўқ</label>
          </div>
          <div class="checkbox">
            {{form.sotishda_asosiy_muammo_8}}
            <label>Бошқа муаммолар (аниқланг)</label>
          </div>
          <hr>
          <label><strong>омборхонада саклаш тизими хақида маълумот. </strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Маҳсулот тури</label>
              {{form.maxsulot_turi_2}}
            </div>
            <div class="form-group col-6">
              <label>Сиз ўз ҳосилингизни қаерда сақлайсиз</label>
              {{form.hosil_saqlash_joyi}}
            </div>
          </div>
          <div class="checkbox">
            {{form.uzingiz_eksport_qilish_xoxlaysizmi}}
            <label>Ўз маҳсулотингизни ўзингиз экспорт қилишни ҳохлайсизми?</label>
          </div>
          <div class="checkbox">
            {{form.eksport_qilishni_bilasizmi}}
            <label>Сиз ўз маҳсулотингизни қандай экпорт қилиш йўлини биласизми (тартиби ва керакли хужжатларни
              расмийлаштириш)</label>
          </div>
          <div class="checkbox">
            {{form.eksport_tizim_haqida_malumot_bormi}}
            <label>Стандартлаш ва сертификатлаш тизими хақида маълумотингиз борми</label>
          </div>
          <hr>
          <label>
            <strong>
              Хўжалигда етиштирилган маҳсулотни саклаган, қадоқлаган ва қайта ишлаган ҳолда сотиш тизими хақида
              маълумот.
              Бўш катаклар ичига деҳқон хўжалигингизда етиштирилган экин ёки маҳсулот турлари номини ёзинг ва тегишли
              маълумотларни беринг
            </strong>
          </label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Маҳсулот тури</label>
              {{form.maxsulot_turi_3}}
            </div>
            <div class="form-group col-6">
              <label>Маҳсулот миқдори Тонна </label>
              {{form.maxsulot_miqdori}}
            </div>
          </div>
          <div class="checkbox">
            {{form.maxsulot_saqlab_keyin_sotdingizmi}}
            <label>Маҳсулотни пишиб етилгандан сунг саклаб туриб кейин сотдингизми </label>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Агар сотган бўлсангиз каерга</label>
              {{form.sotgan_joy_manzili}}
            </div>
            <div class="form-group col-6">
              <label>Кандай усулда сакладингиз</label>
              {{form.saqlash_usuli}}
            </div>
          </div>
          <div class="checkbox">
            {{form.quritish_yoki_qayta_ishladingizmi}}
            <label>Маҳсулотни куритдингиз еки қайта ишладингизми </label>
          </div>
          <div class="form-group">
            <label>Кандай усулда куритдингиз еки кайта ишладингиз</label>
            {{form.quritish_yoki_qayta_ishlash_usuli}}
          </div>
          <hr>
          <label>
            <strong>етиштирилган маҳсулотни саклаган, қадоқлаган ҳолда сотилиши хақида маълумот.
              Бўш катаклар ичига деҳқон хўжалигингизда етиштирилган экин ёки маҳсулот турлари номини ёзинг ва тегишли
              маълумотларни беринг</strong>
          </label>
          <div class="form-group">
            <label>Маҳсулот тури</label>
            {{form.maxsulot_turi_4}}
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Маҳсулот Пишиб етилганда сотилган миқдори Тонна</label>
              {{form.pishib_yetiganda_sotilgan_miqdori}}
            </div>
            <div class="form-group col-6">
              <label>Ўртача баҳоси кг/сум</label>
              {{form.urtacha_bahosi_1}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Маҳсулотни саклаб турган ҳолда сотилган миқдори Тонна </label>
              {{form.saqlab_turgan_holda_sotilgan_miqdori}}
            </div>
            <div class="form-group col-6">
              <label>Ўртача баҳоси кг/сум</label>
              {{form.urtacha_bahosi_2}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Маҳсулотни куритиб еки қайта ишлаб сотилган миқдори Тонна</label>
              {{form.quritib_yoki_qayta_ishlagan_sotilgan_miqdori}}
            </div>
            <div class="form-group col-6">
              <label>Ўртача баҳоси кг/сум</label>
              {{form.urtacha_bahosi_3}}
            </div>
          </div>
          <hr>
          <label><strong> МОЛИЯВИЙ МАНБАЛАР<br>
              Деҳқон хўжалиги томонидан олинган кредитлар. Жавоблар варианти кейинги бетда</strong></label>
          <div class="checkbox">
            {{form.hisob_raqam_bormi}}
            <label>Сизнинг банкда ҳисоб рақамингиз борми </label>
          </div>
          <label><strong>Агар бор бўлса</strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Қайси банкда</label>
              {{form.qaysi_bankda}}
            </div>
            <div class="form-group col-6">
              <label>Неча йилдан буён</label>
              {{form.necha_yildan_buyon}}
            </div>
          </div>
          <div class="checkbox">
            {{form.sungi_3_yil_ichida_qisqa_muddat_kredit}}
            <label>Сиз сўнги уч йилда қисқа муддатли кредит олганмисиз (12 ойгача) </label>
          </div>
          <label><strong>Агар олган бўлсангиз, энг сўнги кредит бўйича маълумот беринг</strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Агар олган бўлсангиз, неча марта</label>
              {{form.necha_marta_1}}
            </div>
            <div class="form-group col-6">
              <label>Мақсади</label>
              {{form.maqsad_1}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label> Миқдори (млн. сўм)</label>
              {{form.miqdor_1}}
            </div>
            <div class="form-group col-6">
              <label> Муддати (ой)</label>
              {{form.muddat_1}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Фоизи (%)</label>
              {{form.foiz_1}}
            </div>
            <div class="form-group col-6">
              <label> Ойлик тўлови (сўм)</label>
              {{form.oylik_tulov_1}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label> Қўйилган гаров </label>
              {{form.quyilgan_gorov_1}}
            </div>
            <div class="form-group col-6">
              <label>Қўйилган гаров кредит миқдори фоизи нисбатида (%)</label>
              {{form.quyilgan_garov_kredit_miqdori_foiz_nisbatida_1}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Олинган вақти (ой ва йил)</label>
              {{form.olingan_vaqt_1}}
            </div>
            <div class="form-group col-6">
              <label>Тўлаш учун қолган пул миқдори (млн. сўм) </label>
              {{form.tulash_uchun_qolgan_summa_1}}
            </div>
          </div>
          <div class="form-group">
            <label>Агар кредит олмаган бўлсангиз, қандай қилиб моддий техник ресурслар харажатларини тўладингиз </label>
            {{form.kredit_olmay_xarajatlarni_tulash}}
          </div>
          <hr>
          <div class="checkbox">
            {{form.sungi_3_yil_ichida_uzoq_muddat_kredit}}
            <label>Сиз сўнгги уч йил ичида узоқ муддатли кредит олганмисиз (бир йилдан кўп муддатга) </label>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Агар олган бўлсангиз, неча марта </label>
              {{form.necha_marta_2}}
            </div>
            <div class="form-group col-6">
              <label>Мақсади </label>
              {{form.maqsad_2}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label> Миқдори (млн. сўм) </label>
              {{form.miqdor_2}}
            </div>
            <div class="form-group col-6">
              <label> Муддати (йил) </label>
              {{form.muddat_2}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Фоизи (%)</label>
              {{form.foiz_2}}
            </div>
            <div class="form-group col-6">
              <label>Ойлик тўлови (сўм) </label>
              {{form.oylik_tulov_2}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label> Қўйилган гаров </label>
              {{form.quyilgan_gorov_2}}
            </div>
            <div class="form-group col-6">
              <label>Қўйилган гаров кредит миқдори фоизи нисбатида (%) </label>
              {{form.quyilgan_garov_kredit_miqdori_foiz_nisbatida_2}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Олинган вақти (ой ва йил) </label>
              {{form.olingan_vaqt_2}}
            </div>
            <div class="form-group col-6">
              <label> Тўлаш учун қолган пул миқдори (млн. сўм) </label>
              {{form.tulash_uchun_qolgan_summa_2}}
            </div>
          </div>
          <hr>
          <label><strong>молиялаштириш муаммолари</strong></label>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Техника ва асбоб ускуна сотиб олиш учун ўз маблағларим етарли эмас</label>
              {{form.uskina_sotib_olish_uchun_uz_mablaglarim_yetarli_emas}}
            </div>
            <div class="form-group col-6">
              <label> Маҳаллий банкда ҳисобим/муносабатим йўқ </label><br><br>
              {{form.mahaliy_bankda_hisobim_yuq}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Банкдан кредит олса бўлади, лекин фоизи жуда баланд</label>
              {{form.sotib_olish_uchun_kredit_olish_qiyin}}
            </div>
            <div class="form-group col-6">
              <label>Банкдан кредит олса бўлади, лекин бериладиган муддати қисқа </label>
              {{form.beriladigan_muddat_qisqa}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Банкдан кредит олса бўлади, лекин фоизи жуда баланд</label>
              {{form.foizi_juda_baland}}
            </div>
            <div class="form-group col-6">
              <label> Банкдан кредит олса бўлади, лекин гаров талаб қилинмоқда </label>
              {{form.gorov_talab_qilmoqda}}
            </div>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Банкдан кредит олса бўлади, лекин деҳқон хўжалик даромади кредитни тўлаш учун етмайди </label>
              {{form.dehqon_xujaligi_daromadi_kredit_tulashga_yetmaydi}}
            </div>
            <div class="form-group col-6">
              <label>Сизнинг хўжалигингизда молиявий ишларни ким юритади</label><br><br>
              {{form.moliyavir_ishlarni_kim_yuritadi}}
            </div>
          </div>
          <div class="checkbox">
            {{form.siz_moliya_sohasida_uquv_mashgulotiga_qatnashgansizmi}}
            <label>Сиз молия соҳасида ўқув машғулотларида қатнашганмисиз (режалаш, бухгалтерия ва ҳоказо)</label>
          </div>
          <hr>
          <label><strong>ТАЖРИБА ВА МАЪЛУМОТЛАР</strong></label>
          <div class="form-group">
            <label>Қишлоқ хўжалиги ва деҳқончилик фаолиятини юритиш бўйича янги маълумотларни қаердан оласиз</label>
            {{form.yangi_malumot_olish_joyi}}
          </div>
          <div class="checkbox">
            {{form.uquv_treninglarda_qatnashganmisiz}}
            <label>Сиз қишлоқ хўжалиги бўйича ўқув тренингларда қатнашганмисиз</label>
          </div>
          <div class="checkbox">
            {{form.uqiganlarni_amalda_qulladizmi}}
            <label>Тренингда ўқитилган билим ва машғулотларни амалда қўлладингизми</label>
          </div>
          <div class="form-group row">
            <div class="form-group col-6">
              <label>Ушбу тренингларда қайси мавзулар буйича машғулотлар олиб борилган </label>
              {{form.treningda_olib_borilgan_mashgulot_turi}}
            </div>
            <div class="form-group col-6">
              <label>Қайси мавзуларда кўпроқ тренинглар ташкил қилинишини истар эдингиз</label>
              {{form.mashgulot_turi_qanaqa_bulishini_istaysiz}}
            </div>
          </div>



          <input type="submit" class="btn btn-primary" value="Register" style="float: right;" />
        </form>
      </div>
    </div>
  </div>
</section>




{% endblock %}