{% extends "base.html" %}
{% load static %}

{% block title %}home{% endblock %}

{% block content %}
	
  <section class="header9 cid-s11ssfObmy mbr-fullscreen mbr-parallax-background" id="header9-2">
  
  <div class="mbr-overlay" style="background-image: url('../static/images/images6.jpg');">
  </div>
  <div class="container">
    <div class="media-container-column mbr-white col-lg-8 col-md-10 m-auto">
      <h1 class="mbr-section-title align-left mbr-bold pb-3 mbr-fonts-style display-1"><br>Хаваскор дехкончилик</h1>
      <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-2">Сабзавот, полиз экинларини экиш ва парваришлаш бўйича саволнома ва тавсиялар</h3>
      <p class="mbr-text align-left pb-3 mbr-fonts-style display-5">Сабзавот, полиз, картошка, мева  экинларидан хамда чорвачиликда юқори ҳосил олишнинг ўзига хос бир нечта муҳим омиллари мавжуд.
        Дехкончиликда ва чорвачиликда сезиларлий натижалар олиш учун барча шароитлардан окилона фойдаланишимиз керак.
        <br>Сизга амалий ердам ва маслахатлар бериш учун саволларимизга аник жавоб беришингизни сураймиз
      <br>Сизнинг жавобларингиз асосида бой тажрибага эга мутахассисларимиз Сиз учун кулай, экологик соф ва иктисодий баркарор агро тизимлар буйича маслахатларини берадилар.</p>
      <div class="mbr-section-btn align-left">
        <a class="btn btn-md btn-primary display-4" href="{% url 'TalabaAdd' %}">Anonim so'rov 1</a>
        <a class="btn btn-md btn-primary display-4" href="{% url 'DehqonAdd' %}">Anonim so'rov 2</a>
      </div>
    </div>
  </div>
  
</section>

  
	
	
{% endblock %}