{% extends "base.html" %}
{% load static %}

{% block title %} Talaba surovnoma {% endblock %}

{% block content %}

<section class="engine"><a href="https://mobirise.info/k">how to develop own website</a></section>
  <section class="mbr-section form1 cid-s19hQrUN1R" id="form1-p">


    <div class="container">
      <div class="row justify-content-center">
        <div class="title col-12 col-lg-8">
          <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5 fish02" style="color: green;">
          1-qism. ХАВАСКОР ДЕХКОНЧИЛИК сўровномаси
          <p style="text-align: left;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ушбу сўровни асосий мақсади деқҳон хўжаликларни ишлаб чиқариш фаолияти  самарадорлигини, ишлаб чиқарилган
            маҳсулотлар қўшилган қиймат занжирини аниқлаш ҳисобланади. Ушбу сўровномадан олинган маълумотлар фақат умумийлаштирилган
            ҳолда сиялар ишлаб чикариш жараёнида ишлатилади. Иштирокингиз ва кўмагингиз учун рахмат
          </p>
          </h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="media-container-column col-lg-12" data-form-type="formoid">
          <form action="{% url 'TalabaAdd' %}" method="POST" class="mbr-form form-with-styler">

                 {% csrf_token %}


            <div class="form-group">
			    <label>ФИШ</label>
			    {{form.i_f_sh}}
			</div>
            <div class="form-group">
			    <label>Кайси факультетда тахсил оласиз</label>
			    {{form.fakultet}}
			</div>
            <div class="form-group">
			    <label>Доимий яшаш манзилингиз </label>
			    {{form.manzil}}
			</div>

            <hr >
            <label><strong>Худудингизнинг кишлок хужалик юритилишига ихтисосланганлиги</strong> </label>
            <div class="checkbox">
                {{form.ix_dehqonchilik}}
                <label> дехкончилик</label>
            </div>
            <div class="checkbox">
                {{form.ix_chorvachilik}}
                <label> чорвачилик </label>
            </div>
            <div class="checkbox">
              {{form.ix_qayta_islash}}
                <label> махсулотни кайта ишлаш </label>
            </div>
            <div class="checkbox">
              {{form.ix_saqlash}}
                <label> махсулотни саклаш</label>
            </div>
            <div class="checkbox">
              {{form.ix_shaxar_atrofi}}
                <label> шахар атрофи </label>
            </div>
            <div class="checkbox">
                {{form.ix_boshqalar}}
                <label> бошкалар </label>
            </div>

            <hr>
            <label><strong>Сиз танлаган дехкончилик шакли</strong></label>
             <div class="checkbox">
                {{form.sh_shaxsiy_tomarqa}}
                <label> шахсий томорка</label>
            </div>
            <div class="checkbox">
                {{form.sh_shirkat}}
                <label> ширкат </label>
            </div>
            <div class="checkbox">
              {{form.sh_dehqon_xujaligi}}
                <label> дехкон хужалиги </label>
            </div>
            <div class="checkbox">
              {{form.sh_fermer_xujaligi}}
                <label> фермер хужалиги </label>
            </div>
            <div class="checkbox">
              {{form.sh_boshqalar}}
                <label> бошкалар </label>
            </div>

            <hr>
            <label><strong>Дехкончилик юритиш учун мавжуд ресурслар </strong></label>
            <div class="checkbox">
                {{form.r_yer_maydoni}}
                <label> ер майдони (улчами)</label>
            </div>
            <div class="checkbox">
                {{form.r_suv}}
                <label> сув (манба)  </label>
            </div>
            <div class="checkbox">
              {{form.r_sugorish_tizimi}}
                <label> сугориш тизими (арик, томчилаб сугориш, пуркаш тизими </label>
            </div>
            <div class="checkbox">
              {{form.r_ishlov_mexanizimlari}}
                <label> ишлов механизмлари (хайдов трактори, культиватор, комбайн) </label>
            </div>
            <div class="checkbox">
              {{form.r_shaxsiy_texnika}}
                <label> шахсий техника </label>
            </div>
            <div class="checkbox">
              {{form.r_arenda}}
                <label> аренда </label>
            </div>
            <div class="checkbox">
              {{form.r_moliya}}
                <label> молия </label>
            </div>
            <div class="checkbox">
              {{form.r_bank_krediti}}
                <label> банк кредити  </label>
            </div>
            <div class="checkbox">
              {{form.r_materal_va_ugit}}
                <label> минерал ва махаллий угит  </label>
            </div>
            <div class="checkbox">
              {{form.r_mutaxassis_maslahati}}
                <label> мутахассис маслахати (хосилот, энтомолог, зооинжинер, инженер, молия-хисобчи) </label>
            </div>
            <div class="checkbox">
              {{form.r_boshqalar}}
                <label> бошкалар   </label>
            </div>

            <hr>
            <label><strong>Сугориладиган дехкончилик тизими </strong></label>
            <div class="checkbox">
                {{form.s_texnik_ekinlar}}
                <label> техник экинлар ( пахта, каноп, соя)  </label>
            </div>
            <div class="checkbox">
                {{form.s_moyliy_ekinlar}}
                <label>мойлий экинлар (пахта, масхар, кунга бокар, соя, мойлий шолгом,  ва бошкалар) </label>
            </div>
            <div class="checkbox">
              {{form.s_rang_beruvchi}}
                <label> ранг – буек берувчи экинлар (кизил лавлаги, индиго, райхон, шох тут) </label>
            </div>
            <div class="checkbox">
              {{form.s_efir}}
                <label> эфир – мойлий экинлар ( тог райхони, ялпиз, сарик андиз, анзур пиези ва бошкалар)  </label>
            </div>
            <div class="checkbox">
                {{form.s_poliz}}
                  <label> полиз экинлари (ковун-тарвуз, ош ковок, булгор калампири, гул карам, карам, картошка, сабзи, кизил лавлаги, канд лавлаги, </label>
            </div>
            <div class="checkbox">
              {{form.s_galla}}
                <label> галла </label>
            </div>
            <div class="checkbox">
              {{form.s_yem_hashak}}
                <label> ем хашак </label>
            </div>
            <div class="checkbox">
              {{form.s_kuchat_tizimi}}
                <label>кучат тизими (мева дарахтлар кучатлари, манзаралий дарахтлар кучатлари, пиллачилик кучатлари, ихота кучатзорлар ва бошкалар)</label>
            </div>
            <div class="checkbox">
              {{form.s_uzumchilik}}
                <label> узумчилик (хараки навлар, шароб ишлаб чикиш учун навлар, маиз таерлаш) </label>
            </div>
            <div class="checkbox">
              {{form.s_meva_va_sabzavot}}
                <label> мева ва сабзавотчилик </label>
            </div>
            <div class="checkbox">
              {{form.s_kup_va_qisqa}}
                <label> куп ва киска далалий алмашлаб экиш   </label>
            </div>
            <div class="checkbox">
              {{form.s_noananaviy}}
                <label> нонаъанавий экинзорлар ( маржумак, ок жувари, жавдар, батат, занжабил, лавр япроги, - - мева ва сабзавотлар уригидан мой олиш ва бошкалар)    </label>
            </div>
            <div class="checkbox">
              {{form.s_gulchilik}}
                <label> гулчилик ( михак, атир гул, хризантема, астра, хонаки гуллар)  </label>
            </div>
            <div class="checkbox">
              {{form.s_issiqxona}}
                <label> иссикхона тизими (лимон, мандарин, апельсин, банан, ананас ва бошкалар)    </label>
            </div>
            <div class="checkbox">
              {{form.s_max_qayta_ishlash}}
                <label> махсулотни кайта ишлаш ва саклаш(мева шарбати, маиз, курутилган мева, ва бошкалар)  </label>
            </div>
            <div class="checkbox">
              {{form.s_boshqalar}}
                <label> бошкалар   </label>
            </div>

            <hr>
            <label><strong>Лалми дехкончилик тизими </strong></label>
            <div class="checkbox">
              {{form.l_yem_hashak}}
                <label> ем-хашак етиштириш (беда, колумб ути, маккажухори, арпа ва бошкалар) </label>
            </div>
            <div class="checkbox">
              {{form.l_galla}}
                <label> галла (дон, сомон, ва бошкалар)  </label>
            </div>
            <div class="checkbox">
              {{form.l_arpa}}
                <label> арпа (дон,сомон ва бошкалар)  </label>
            </div>
            <div class="checkbox">
              {{form.l_dorivor}}
                <label> доривор усимликлар таерлаш (артишок, зайтун, зирк, лагохилус, жида, зира, занжабил,  облепиха ва бошкалар) </label>
            </div>
            <div class="checkbox">
              {{form.l_max_qayta_ishlash}}
                <label> махсулотни кайта ишлаш  </label>
            </div>
            <div class="checkbox">
              {{form.l_boshqalar}}
                <label> бошкалар   </label>
            </div>

            <hr>
            <label><strong>Чорвачилик тизими </strong></label>
            <div class="checkbox">
              {{form.ch_yirik_shoxli}}
                <label> йирик шохлий чорвачилик тизими ( согин сигирлар, бурдоки моллар)  </label>
            </div>
            <div class="checkbox">
              {{form.ch_kichik_shoxli}}
                <label> кичик шохлий чорвачилик (куй,эчки, ) </label>
            </div>
            <div class="checkbox">
              {{form.ch_parandachilik}}
                <label> парандачилик (хонаки парандачилик, бройлер парандачилик, гоз, урдак, тус товук, бедана)  </label>
            </div>
            <div class="checkbox">
              {{form.ch_asal_arichilik}}
                <label> асал -аричилик (асал, прополис, перга ва бошкалар)  </label>
            </div>
            <div class="checkbox">
              {{form.ch_baliqchilik}}
                <label> баликчилик  </label>
            </div>
            <div class="checkbox">
              {{form.ch_pillachilik}}
                <label> пиллачилик </label>
            </div>
            <div class="checkbox">
              {{form.ch_qayta_ishlash}}
                <label> махсулотни кайта ишлаш( сутни кайта ишлаш, терини кайта ишлаш, жунни кайта ишлаш, суякни кайта ишлаш)  </label>
            </div>
            <div class="checkbox">
              {{form.ch_boshqalar}}
                <label> бошкалар   </label>
            </div>

            <hr>
            <label><strong>Молиявий ердам олиш</strong></label>
            <div class="checkbox">
              {{form.m_bank_kredit}}
                <label> банк кредитлари  </label>
            </div>
            <div class="checkbox">
               {{form.m_sugurta}}
                 <label> сугурта </label>
            </div>
            <div class="checkbox">
              {{form.m_sherikchilik}}
                <label>шерикчилик </label>
            </div>
            <div class="checkbox">
              {{form.m_agrosanoat_klasteri}}
                <label> агросаноат кластери   </label>
            </div>

                  <input type="submit" class="btn btn-primary" value="Register" style="float: right;"/>
          </form>

          </div>
        </div>
      </div>
  </section>

{% endblock %}